@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff'),
    url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
    url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #181818;
    padding: 24px 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    align-items: center;
}

.logo {
    display: inline-block;
    margin-left: 32px;

}
.logo img{
    width: 100%;
}

header ul {
    /*display: flex;*/
    list-style: none;
    align-items: center;
}

header ul li {
    margin-left: 32px;
    transition: 0.3s;
}

header ul li:last-of-type {
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px 11px;
    margin-left: 31px;

}


header ul li:first-of-type {
    margin-right: 56px;
}

header ul li:hover {
    transform: scale(1.1);
}

header ul li a {
    display: inline-block;
    text-decoration: none;
    font: 15px/20px 'poppinsregular';
    color: #FFFFFF;
    letter-spacing: normal;
    text-transform: initial;
}

header ul li:last-of-type a {
    display: inline-block;
    text-decoration: none;
    font: 16px/20px 'poppinsregular';
    color: #000000;
    letter-spacing: normal;
    text-transform: initial;
}

header ul li:first-of-type a {
    display: inline-block;
    text-decoration: none;
    font: 13px/28px 'poppinsregular';
    color: #FFFFFF;
    letter-spacing: normal;
    text-transform: initial;

}


.main_page {
    background-image: url("../images/background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
}

.main_page_box {
    max-width: 580px;
}

.main_page_box h2 {
    font: 14px/20px 'poppinsregular';
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_page_box h1 {
    font: 54px/59px 'poppinsregular';
    text-align: center;
    color: #FFFFFF;
}

.main_page_box p {
    margin-top: 18px;
    font: 14px/20px 'poppinsregular';
    text-align: center;
    color: #C0C0C0;
}

.fixed_information li {
    font: 12px/12px 'poppinsregular';
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 16px;
}

.fixed_information {
    position: absolute;
    bottom: 41px;
    right: 40px;
    list-style: none;
}

.fixed_information li:first-of-type:before {
    content: "";
    background-image: url("../images/timer.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.fixed_information li:nth-child(2):before {
    content: "";
    background-image: url("../images/circle.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.fixed_information li:nth-child(3):before {
    content: "";
    background-image: url("../images/iso.svg");
    width: 32px;
    height: 16px;
    display: block;
    margin-right: 7px;
}
.fixed_information li:last-of-type:before{
    content: "";
    background-image: url("../images/point.svg");
    width: 10px;
    height: 16px;
    display: block;
    margin-right: 5px;
}
.what_we_do{
    padding-top: 112px;
    padding-bottom: 100px;
    background-color: #000000;
}
.what_we_do_container{
    max-width: 1168px;
    margin: auto;
}
.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.what_we_do_container h2 {
    font: 40px/42px 'poppinsregular';
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.what_we_do_container p {
    font: 23px/30px 'poppinsregular';
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 16px;
}
.what_we_do .what_we_do_item{
    max-width: 576px;
    max-height: 600px;
    position: relative;
    margin-bottom: 16px;
}
.what_we_do img{
    display: block;
    width: 100%;
}
.description{
    position: absolute;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    bottom: 0;
    color: white;

}
.description h4{
    font: 14px/20px 'poppinsregular';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 15px;

}
.description p{
    font: 14px/20px 'poppinsregular';
    color: #C0C0C0;
    text-align: left;

}

.mountain {
    min-height: 600px;
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 62px;
    position: relative;
}
.mountain_box {
    max-width: 298px;
}
.mountain_box h2 {
    font: 14px/20px 'poppinsregular';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.mountain_box p {
    font: 14px/20px 'poppinsregular';
    color: #C0C0C0;
}
.mountain_fixed_information{
    position: absolute;
    bottom: 40px;
    right: 45px;
    list-style: none;
}

.mountain_fixed_information li {
    font: 12px/12px 'poppinsregular';
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 16px;
}
.mountain_fixed_information li:first-of-type:before {
    content: "";
    background-image: url("../images/timer.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.mountain_fixed_information li:nth-child(2):before {
    content: "";
    background-image: url("../images/circle.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.mountain_fixed_information li:nth-child(3):before {
    content: "";
    background-image: url("../images/iso.svg");
    width: 32px;
    height: 16px;
    display: block;
    margin-right: 7px;
}
.mountain_fixed_information li:last-of-type:before{
    content: "";
    background-image: url("../images/point.svg");
    width: 10px;
    height: 16px;
    display: block;
    margin-right: 5px;
}
.leaves{
    min-height: 600px;
    background-image: url("../images/leaves.jpg");
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 87px;
    position: relative;
}
.leaves_box {
    max-width: 273px;
}
.leaves_box h2{
    font: 14px/20px 'poppinsregular';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.leaves_box p{
    font: 14px/20px 'poppinsregular';
    color: #C0C0C0;
}
.leaves_fixed_information{
    position: absolute;
    bottom: 40px;
    right: 45px;
    list-style: none;
}
.leaves_fixed_information li{
    font: 12px/12px 'poppinsregular';
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 16px;
}
.leaves_fixed_information li:first-of-type:before {
    content: "";
    background-image: url("../images/timer.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.leaves_fixed_information li:nth-child(2):before {
    content: "";
    background-image: url("../images/circle.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.leaves_fixed_information li:nth-child(3):before {
    content: "";
    background-image: url("../images/iso.svg");
    width: 32px;
    height: 16px;
    display: block;
    margin-right: 7px;
}
.leaves_fixed_information li:last-of-type:before{
    content: "";
    background-image: url("../images/point.svg");
    width: 10px;
    height: 16px;
    display: block;
    margin-right: 5px;
}
.clients{
    padding-top: 113px;
    padding-bottom: 140px;
    background-color: #000000;
}
.clients h3 {
    font: 40px/42px 'poppinsregular';
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.clients p {
    font: 24px/30px 'poppinsregular';
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;

}
.clients_logo{
    display: flex;
    margin: auto;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}
.clients_logo a{
    display: inline-block;
    max-width: 128px;
}
.starfall{
    min-height: 600px;
    background-image: url("../images/starfall.jpg");
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 106px;
    position: relative;
}
.starfall_box{
    max-width: 254px;
}
.starfall_box h2{
    font: 14px/20px 'poppinsregular';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.starfall_box p{
    font: 14px/20px 'poppinsregular';
    color: #C0C0C0;
}
.starfall_fixed_information{
    position: absolute;
    bottom: 40px;
    right: 45px;
    list-style: none;
}
.starfall_fixed_information li {
    font: 12px/12px 'poppinsregular';
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 16px;
}
.starfall_fixed_information li:first-of-type:before {
    content: "";
    background-image: url("../images/timer.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.starfall_fixed_information li:nth-child(2):before {
    content: "";
    background-image: url("../images/circle.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.starfall_fixed_information li:nth-child(3):before {
    content: "";
    background-image: url("../images/iso.svg");
    width: 32px;
    height: 16px;
    display: block;
    margin-right: 7px;
}
.starfall_fixed_information li:last-of-type:before{
    content: "";
    background-image: url("../images/point.svg");
    width: 10px;
    height: 16px;
    display: block;
    margin-right: 5px;
}
.contact_us{
    padding-top: 113px;
    padding-bottom: 108px;
    background-color: #000000;
}

.contact_us_box{
    max-width: 571px;
    margin: auto;
    text-align: center;
}

.contact_us h3{
    font: 40px/42px 'poppinsregular';
    color: #FFFFFF;
    margin-bottom: 15px;
}
.contact_us p{
    font: 24px/30px 'poppinsregular';
    color: #C0C0C0;
    margin-bottom: 22px;
}
.contact_us a {
    background-color: #FFFFFF;
    font: 16px/20px 'poppinsregular';
    text-decoration: none;
    color: #000000;
    display: inline-flex;
    align-items: center;
    border-radius: 14px;
    padding-right: 10px;
}
.contact_us a:before{
    content: "";
    height: 32px;
    width: 32px;
    border-radius: 14px;
    background-color: #000000;
    margin: 5px 6px 5px 4px;
}
footer{
    padding-top: 100px;
    padding-bottom: 104px;
    background-color: #000000;
}
.main_footer_box{
    max-width: 1168px;
    margin: auto;
}
.upper_footer{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #FFFFFF;
}
.logo_box{
    margin-bottom: 36px;
}
.list_box{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 36px;
}
.list_box ul:first-of-type{
    margin-right: 55px;
}
.list_box ul:last-of-type{
    margin-right: 45px;
}

.logo_box p{
    font: 13px/20px 'poppinsregular';
    color: #C0C0C0;
}

.list li {
    font: 14px/20px 'poppinsregular';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    list-style: none;
}
.list a{
    text-decoration: none;
    font: 13px/20px 'poppinsregular';
    color: #FFFFFF;
    text-transform: none;

}
.subscribe{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    border-bottom: 2px solid #FFFFFF;
}

.subscribe h4{
    font: 14px/20px 'poppinsregular';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.subscribe p{
    font: 13px/20px 'poppinsregular';
    color: #C0C0C0;
    margin-bottom: 36px
}
.subscribe form{
    background-color: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    height: 52px;
    width: 458px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.subscribe button{
    background-color: #000000;
    border-radius: 11px;
    width: 63px;
    height: 30px;
}
.subscribe input{
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}
.socials_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
}
.socials_box p{
    font: 14px/20px 'poppinsregular';
    color: #C0C0C0;
}
.socials{
    display: flex;
    list-style: none;
}
.socials img{
    height: 24px;
}
.socials li:nth-child(2){
    margin-left: 20px;
    margin-right: 26px;
}
.socials li:last-of-type{
    margin-right: 6px;
}
.owl-stage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.ui-accordion .ui-accordion-content{
    padding: 0;
    background-color: black;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background-color: black;
    border: none;
}
.ui-widget-content{
    border: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    background-color: black;
    border: none;
}
.ui-icon{
    background-image: none;
    background-position: 0;
    text-indent: 0;
    overflow: inherit;
    width: 50%;
    height: 50%;
}









body {
    width: 100%;
    overflow-x: hidden;
    z-index: 1; }

nav {
    --transition-time: 500ms;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    background: transparent;
    transform: translateX(0%);
    transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
    z-index: 4; }
nav a {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-decoration: none;
    user-select: none;
    color: #fff; }
nav .nav-links {
    display: flex;
    position: relative;
    width: 100%; }
nav .nav-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: var(--link-height);
    list-style: none;
    opacity: 1;
    transform: translateX(0%);
    transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9);
    transition-delay: calc(30ms + var(--delay));
    cursor: pointer;
    z-index: 8; }

nav .nav-links li:hover {
    color: rgba(255, 255, 255, 0.85); }
nav .nav-links li a {
    pointer-events: none; }
nav .menu-btn {
    display: none;
    justify-content: center;
    align-items: center;
    --icon-width: 25px;
    position: absolute;
    top: -45px;
    left: -15%;
    width: calc(var(--icon-width) + 25px);
    height: calc(var(--icon-width) + 25px);
    flex-direction: column;
    transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
    cursor: pointer;
    z-index: 10; }
nav .menu-btn.close .line__1 {
    transform: rotate(45deg) translate(2px, -3px); }
nav .menu-btn.close .line__2 {
    transform: rotate(-45deg); }
nav .menu-btn.close .line__3 {
    transform: rotate(45deg) translate(-2px, 3px); }
nav .menu-btn .line {
    width: var(--icon-width);
    background: #fff;
    height: 2px;
    margin: 3px 0;
    transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1); }
nav .menu-btn .line__1 {
    width: var(--icon-width);
    transform-origin: left; }
nav .menu-btn .line__2 {
    width: var(--icon-width);
    transform-origin: center; }
nav .menu-btn .line__3 {
    width: var(--icon-width);
    transform-origin: right; }
nav.nav-open {
    transform: translateX(0%); }
nav.nav-open .menu-btn {
    right: 10%;
    top: 1.3%;
}
nav.nav-open .nav-links li {
    transform: translateX(0);
    opacity: 1; }

