* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #181818;
    padding: 24px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    align-items: center;
}

.logo {
    display: inline-block;
    margin-left: 32px;

}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul li {
    margin-left: 32px;
    transition: 0.3s;
}

header ul li:last-of-type {
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px 11px;
    margin-left: 31px;
}

header ul li:first-of-type {
    margin-right: 56px;
}

header ul li:hover {
    transform: scale(1.1);
}

header ul li a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

header ul li:first-of-type a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    color: #FFFFFF;

}

header ul li:last-of-type a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.main_page {
    background-image: url("../images/background.jpg");
    background-size: cover;
    height: 100vh;
    padding: 466px 0 71px 0;
    box-sizing: border-box;
}

.main_page div {
    max-width: 580px;
    margin: auto;
}

.main_page div h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_page div h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.main_page div p {
    margin-top: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}